* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.box {
    width: 1600px;
    height: auto;
    margin: 0 auto;
}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgba(240, 248, 255, 0.74);
}

nav a:hover {
    text-decoration: underline;
    color: aliceblue;
}
.an1{
    text-decoration: underline;
    color: aliceblue;
}
.an2{
    color: rgba(240, 248, 255, 0.74);
    text-decoration: none;
}
.an2:visited{
    color: aliceblue;
}
header {
    width: 100%;
    height: 800px;
    background: url(https://www.figma.com/file/kQcsrY8yXe2AbWp6x30FxS/image/6a92b88188c94b0932910290381d35846ed83349);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hsec {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-around;
}

.hi {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;

}

.himg {
    width: 800px;
    height: 600px;
    margin-top: 10px;
}

.hr {
    width: 365px;
    height: 1px;
    background: rgba(240, 248, 255, 0.74);
    margin-top: 60px;
    margin-bottom: 60px;
}

.hi h2,
h1 {
    color: aliceblue;
}

.hi p,
button {
    color: rgba(240, 248, 255, 0.74);
}

.hi h2 {
    margin-top: 10px;
    margin-left: 3px;
}

.hi h1 {
    margin-top: 20px;
    font-size: 100px;
}

.hi button {
    width: 188px;
    height: 62px;
    margin-top: 60px;
    background: #FF5A05;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 5px;
}
#hi2 {
    display: none;
}
section{
    width: 1600px;
    height: 600px;
    display: flex;
    justify-content: space-evenly;

}
.simg{
    margin-top: 60px;
    width: 784px;
    height: 397px;
}
.sh1{
    margin-left: 200px;
    margin-top: 30px;
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    color: #000000;
    margin-bottom: 25px;
}
.ss{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 40px;
}
.ss1{
    padding-right: 40px;
}
.sb{
    width: 188px;
    height: 62px;
    background: #4758C8;
    font-size: 20px;
    color: aliceblue;
    border: 0;
    margin-top: 30px;
    border-radius: 5px;
}
.ss p{
    font-size: 24px;
    line-height: 50px;
}
main{
    width: 100%;
    height: 1900px;
    background: linear-gradient(#6677FF,#3D4799);
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}
.mi1{
    width: 95%;
    height: 980px;
    background: white;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.mimg{
    width: 691px;
    height: 980px;
}
.mh2{
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    margin-top: 300px;
}
.mii1{
    height: 980px;
    display: flex;
    flex-direction: column;
    padding-left: 70px
}
.mb{
    width: 233px;
    height: 63px;
    background: #4758C8;
    color: aliceblue;
    border: 0;
    border-radius: 5px;
    margin-top: 250px;
}
.mi2{
    width: 95%;
    height: 835px;
    display: flex;
    justify-content: space-evenly;
    background: white;
    margin: 0 auto;
    transition: height 0.5s ease-in-out;
}
.mimg2{
    width: 691px;
    height: 650px;

}
.mi2 p{
    margin-top: 150px;
    font-family: "Montserrat", sans-serif;
    line-height: 40px;
    font-size: 24px;
    margin-left: 20px;
    margin-right: 20px;
}
aside{
    width: 100%;
    height: auto;
    background: linear-gradient(#3D4799,#233092);
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
}
.ah2{
    font-size: 58px;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    color: aliceblue;
    text-align: center;
    margin-bottom: 40px;
}
aside p{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: aliceblue;
}
.aside2{
    width: 100%;
    height: auto;
    background: linear-gradient(#233092,#2A3590);
    display: flex;
    flex-direction: column;
    padding-top: 90px;
}
.aside2 p{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: aliceblue;
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
    margin-bottom: 80px;
}
.aimg1{
    width: 80%;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.ah22{
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    color: aliceblue;
    text-align: center;
    margin-bottom: 70px;
}
.aside3{
    width: 100%;
    height: 896px;
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    justify-content: space-between;
}
.a3i1{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.a3i2{
    width: 50%;
    height: 100%;
    display: flex;
    
    gap: 10px;
    flex-wrap: wrap;
    
}
.aii{
    width: 80%;
    height: 150px;
    display: flex;
    gap: 20px;
}
.aii p{
    width: 90%;
}
.a3i2 h2{
    font-size: 30px;
    line-height: 36px;
    margin-top: 0px;
    
}
.a3i2 p{
    font-size: 24px;
    line-height: 30px;
}
#a3p1{
    margin-bottom: 0px;
}
.circle{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-top: 40px;
}
.red{
    background: red;

}
.green{
    background: green;
}
.blue{
    background: blue;
}
.asides4{
    width: 70%;
    height: 948px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin: 0 auto;
}
.aside4{
    width: 100%;
    height: auto;
    background: linear-gradient(#4c55a9,#2A3590);
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sectiona4{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    align-items: center;
}
.a41{
    height: auto;
}
.a4i img{
    margin: 0 auto;
    margin-top: 55px;
}
.a4i p{
    width: 550px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 15px;
}







footer {
    width: 100%;
    height: 432px;

}
footer {
    color: white;
    width: 100%;
    height: 450px;
    background: #2A3590;
}

.footer_circle {
    width: 40px;
    height: 40px;
    border-radius: 100% 100%;
    background: rgba(255, 255, 255, 0.255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_item1_1 {
    width: 20%;
    display: flex;
    flex-direction: row;
    gap: 17px;
}

.footer_item1_2 {
    width: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.footer_item1_2 h3 {
    font-weight: bold;
}

.footer_item1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-left: 50px;
    align-items: flex-end;
}

.footer_item2 {
    padding-top: 120px;
}
@media (max-width:750px){
    .box {
        width: 750px;
        height: auto;
    }

    nav {
        height: 200px;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        padding-left: 70px;
        padding-right: 70px;
        gap: 40px;
        padding-top: 50px;
        padding-bottom: 50px;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .an2{
        margin-left: 20px;
    }
    nav a{
        margin-left: 20px;
    }
    #p1 {
        margin-right: 62px;
    }

    nav p {
        font-size: 25px;
    }

    .ni {
        height: 100px;
        text-align: left;
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 0;

    }

    header {
        height: 1326px;
        display: flex;

        flex-wrap: wrap;
    }

    #hi1 {
        display: none;
    }

    #hi2 {
        display: flex;
    }

    .himg {
        width: 534px;
        height: 387px;
    }

    .hsec {
        flex-direction: column;
        padding-left: 100px;
    }

    .hi h2 {
        width: 100%;
        margin-top: 50px;
    }

    .hi h1 {
        font-size: 50px;
        width: 500px;
    }
    section{
        width: 100%;
        height: auto;
        flex-direction: column;
        text-align: center;
    }
    .ss1{
        order: -1;
    }
    .sh1{
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .sb{
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    main{
        width: 100%;
        height: auto;

    }
    .mi1{
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .mii1{
        width: 100%;
        height: 400px;
        margin-bottom: 30px;
        
    }
    .mh2{
        margin: 0;
    }
    .mb{
        margin-top: 80px;
    }
    .mii2{
        order: -1;
    }
    .mi2{
        width: 90%;
        height: auto;
        flex-direction: column;
        margin-bottom: 100px;
    }
    .mimg2{
        width: 100%;
    }
    .aside3{
        flex-direction: column;
        height: auto;
        flex-wrap: wrap;
    }
    .a3i1{
        height: 500px;
        align-items: center;
        width: 100%;
        margin-bottom: 300px;
    }
    .a3i2{
        width: 100%;
        height: auto;

    }





    footer{
        height: 1300px;
        flex-direction: column;
    }
    .footer_item2 img{
        height: 120px;
    }
    .footer_item2{
        padding-top: 60px;
    }
    .footer_item1_1{
        order: 2;
        align-self: center;
        width: 100%;
        align-items: center;
        padding-left: 125px;
    }
    .footer_item1_2{
        order: 1;
        width: 80%;
        padding-left: 0;
        align-items: flex-start;
        gap: 20px;
    }
    .footer_item1{
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 70px;
        align-items: flex-start;
    }
    .footer_item1_2 h3{
        font-size: 30px;
    }
    .footer_circle{
        width: 80px;
        height: 80px;
    }
    .footer_circle img{
        width: 40%;
        height: 40%;
    }
}
